backup/**
lib/
C:\Users\Bernard\Documents\Lazarus\contactmanager\libeay32.dll
C:\Users\Bernard\Documents\Lazarus\contactmanager\ssleay32.dll
C:\Users\Bernard\Documents\Lazarus\contactmanager\OpenSSL License.txt

